@font-face {
  font-family: 'Poller One';
  font-style: normal;
  font-weight: 400;
  src: local('Poller One'), local('PollerOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/pollerone/v3/7FMOfxy_tGzN2YzWSe-XExsxEYwM7FgeyaSgU71cLG0.woff) format('woff');
}