<!DOCTYPE html>
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Nice youtube search</title>

<link rel="stylesheet" type="text/css" href="stylesheet/bootstrap.css" />
<link rel="stylesheet" type="text/css" href="stylesheet/bootstrap-responsive.css" />
<script src="js/jquery-min.js"></script>

<script src="js/bootstrap-min.js"></script>
<script src="js/underscore-min.js"></script>

    <script src="js/backbone-min.js"></script>
</head>


<body>


<div id="bot"></div>

<!-- javascript coding -->
<script type="text/template" id="data-template">
    
   
      
     
        <p><%= JSON.stringify(data)%></p>
        <br />
        <p><%= JSON.stringify(data.title)%></p>
        <br />
        
        <p><%= JSON.stringify(data.id)%></p>
        <hr>
        
        

</script>

<div id="container"></div>

    <script type="text/javascript" src="js/youtube.js"></script>

  

</body>
</html>